*{
     padding: 0%;
     margin: 0%;
}

html{
    background: #dfebed;
    color: #2b4450;
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
}
  
a{
    color: #f78536;
    text-decoration: none;
}
  
a:hover,
a:focus {
    opacity: .75;
    text-decoration: underline;
}
  
a:active {
    opacity: 1;
    text-decoration: underline;
}
  
h1, h2, h3 {
    font-weight: 600;
}
  
h4, h5, h6 {
    font-weight: 300;
  }
h2{
      text-align: center;
      font-size: 2.5rem;
}
p{
      font-size: 1.5rem;
  }
  .fecha{
    text-align: center;
  }
  
.o-max-width {
    margin: 0 auto;
    max-width: 100rem;
    width: 95%;
  }
.o-site-main {
    margin: 1.5rem auto;
  }
  
.o-box {
    padding: 1.5rem;
  }

  .c-site-header,
  .c-site-footer {
    background: #2b4450;
    color: #dfebed;
}
  
  .c-site-header {
    box-shadow: 0 2px 4px rgba(43, 68, 80, .25);
}
  
  .c-site-footer {
    box-shadow: 0 -2px 4px rgba(43, 68, 80, .25);
}
  
.c-site-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .c-site-nav__wordmark {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  .c-site-nav__list {
    display: flex;
    list-style: none;
  }
  
  .c-site-nav__item + .c-site-nav__item {
    margin-left: .5rem;
  }
  
  .c-site-nav__link {
    color: #dfebed;
    padding: .25rem .5rem;
    transition: opacity 150ms ease;

  }
  
  .c-site-nav__link:hover,
  .c-site-nav__link:focus {
    opacity: .75;
  }
  
  .c-site-nav__link:active {
    opacity: 1;
  }
  
  .c-card {
    background: #fefefe;
    box-shadow: 0 2px 4px rgba(43, 68, 80, .25);
  }
  
.c-card > *:first-child {
    margin-top: 0;
}
  
.c-card > *:last-child {
    margin-bottom: 0;
}
  
.c-card + .c-card {
    margin-top: 1.5rem;
}
#article {
    display: inline-block;
}

body{
    max-height: 100vh;
}

footer {
    position: sticky;
    top: 100%;
}
/*TABLA*/
table {
  margin-left: 200px;
  display: table;
  align-items: center;
  border: solid 1px #000000;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 16px Arial, sans-serif;
  margin-bottom: 30px;
  width: 1100px;
}

table thead th {
  background:grey;
  border: solid 1px #0D0D0D;
  color: #F2F2F2;
  padding: 20px;
  text-align: left;
}
table tbody td {
  border: solid 1px #41403f;
  color: rgb(12, 12, 12);
  padding: 20px;
  padding-left: 30px;
}
table tbody tr:hover {
  background: gainsboro;
  opacity: .75;
  text-decoration: underline;
}
li{
  margin-left: 2.5rem;
  font-size: 1.3rem;
}
/*NUESTRAS CLASES*/

.container-all{
  width: fit-content;
  margin: 20px auto;
  height: auto;
}
.container{
  width: calc(33% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
  margin-top: 30px;
}
.ncImg{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
  height: 375px;
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}
.text{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%) 
}
.container:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.container:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}
/*txt*/
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-bottom: -1em;
  justify-content: center;
  text-align: justify;
}

.grid-item {
  width: calc(95% * 1 / 3);
  padding-left: 1em;
  margin-bottom: 1em;
}

.card {
  height: 100%;
  padding: 1em;
  width: 100%;
}

.card_title {
  font-size: 1.25em;
  margin-left: -2em;
}
.pcard{
padding-right: 2em;
}
/*ÍCONOS*/
#fb{
margin-right: 20px;
}
#tw{
margin-right: 20px;
}
#yt{
margin-right: 20px;
}
#ig{
margin-right: 20px;
}